<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<link rel="stylesheet" href="/css/style.css" />

		<!-- We'll probably need jQuery :D -->
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
		<title>Cursed Images API</title>
	</head>
	<body>
		<h1>Cursed Images API</h1>
		<br>
		<a href="/api"><h3>https://cursed-images-api.herokuapp.com/api</h3></a>
		<a href="about"><h3>About</h3></a>
		<script src="/js/main.js"></script>
	</body>
</html>
